<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/public/styles/email.css" />
  
</head>
<!-- DEBUG: <%= logoUrl %> -->
<body>
    <div class="container">
        <div class="header">
            <img class="logo" src="https://api.economize-ai.com/static/images/logo.png" alt="<%= siteName %>" />
            <h1>
                <%= title %>
            </h1>
        </div>
        <div class="content">
            <h2>Olá, <%= username %>!</h2>
            <p style="font-size: 16px">
                Estamos muito felizes em ter você com a gente. A partir de agora, você poderá registrar seus ganhos e
                gastos, receber lembretes automáticos e visualizar seus relatórios financeiros de forma simples e
                inteligente.
            </p>
            <a target="_blank" href="<%= loginUrl %>" class="button">
                Acessar a Plataforma
            </a>
            <p style="font-size: 16px">
                Você também pode interagir com nosso assistente via WhatsApp para registrar suas transações com apenas
                uma mensagem de texto ou áudio.
                <br /><br />
                <b>Obs: Antes de usar, confirme que o número do seu WhatsApp está cadastrado no sistema e seu
                    e-mail.</b>
            </p>
            <p style="font-size: 16px">
                Caso precise de ajuda, nosso suporte está disponível por e-mail ou WhatsApp:
            </p>
            <p style="font-size: 16px">
                E-mail:
                <a href="mailto:<%= supportEmail %>">
                    <%= supportEmail %>
                </a>
                <br />
                WhatsApp:
                <a target="_blank" href="https://api.whatsapp.com/send?phone=<%= whatsappNumber %>">
                    Clique aqui para falar no WhatsApp
                </a>
            </p>
        </div>
        <div class="footer">
            <p style="font-size: 14px">
                © <%= year %>
                    <%= siteName %>. Todos os direitos reservados.
            </p>
        </div>
    </div>
</body>

</html>